<ul id="list">
    <!-- defining the for of outside of ul element will create duplicates with the same id (which is against the HTML formatting standard) -->
    <% for (let todo of todos){ %>
        <li>
            <div id="li-container"
                class="bg-gray-container drop-shadow-sm w-60 h-20 mx-3 my-3 rounded-md flex flex-col">
                <div id="task-section1" class="my-3"></div>
                <div id="task-section2" class="my-3">
                    <label class="text-sm text-gray-main flex flex-row">
                        <form class="" action="/todos/<%= todo.task_id %>" method="post"
                            task_id="completedForm_<%= todo.task_id %>">
                            <input class="" type="checkbox"
                                onchange="document.getElementById('completedForm_<%= todo.task_id %>').submit()"
                                name="completedCheck">
                        </form>
                        <%= todo.task_name %>
                            <form action="/todos/<%= todo.task_id %>?_method=DELETE" method="post"><button
                                    id="delete">Delete</button>
                            </form>
                    </label>
                </div>
                <div id="task-section1" class="my-3"></div>
            </div>
        </li>
        <% } %>
</ul>