<% for (let todo of todos){ %>
    <ul id="list">
        <li>
            <label>
                <form action="/todos/<%= todo.id %>" method="post" id="completedForm_<%= todo.id %>"><input
                        type="checkbox" onchange="document.getElementById('completedForm_<%= todo.id %>').submit()"
                        name="completedCheck">
                </form>
                <%= todo.title %>
                    <form action="/todos/<%= todo.id %>?_method=DELETE" method="post"><button id="delete"></button>
                    </form>
            </label>
        </li>
    </ul>
    <% } %>